.cntr{text-align: center}
.bg{background: white}

ul {
    list-style: none;
  }
  .jumbotron {  
    background: url(/assets/header-bg.png) no-repeat center top;
    background-size:cover;
    border-radius: 0;
    margin-bottom: 1rem;
  }
  

  .jumbotron h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #fff;
  font-weight: bold;
  
}
.navbar-nav li {
  margin-right: 11px;
}
.navbar-nav li  .btn {
background:#f2f2f2;
border-radius: 0;
border-bottom: 2px solid #f2f2f2;
}
.navbar-nav li.active .btn {
background: #3c8dbc;
border-bottom: 2px solid #3c8dbc;
color: #fff;
}
.blog {
  width:100%;
  float: left;
  margin: 30px 0;
} 
.blog ul {
  width:100%;
  display: block;
  margin: 0;
  float: left;
  padding: 0;
}
.blog .blog-image {
  float: left;
  margin-right: 25px;
  border: 8px solid #f2f2f2;
}
.blog h3 {
  font-weight: 500;
  margin-bottom: 15px;
}
.blog .btn-success {
border-radius: 0;
background: #3c8dbc;
border: 2px solid #3c8dbc;
color: #fff;
transition:all 0.5s;
}
.blog .btn-success:hover {
  background:none;
  border: 2px solid #3c8dbc;
  color: #3c8dbc;
  }
  
  /* second */

  div{align-content:center}


      .form-back
      {
        background-color: #ddd;
        padding: 20px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.48);
    }
    .p-t-50 {
      padding-top: 50px;
  }
  .upload-padd
  {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
  }
  .mobile-tabs {
    display:none;
  }
  .nav-icon {
    display:none;
  }
  /* Responsive start here  */

  @media (max-width:767px) {
    .blog .blog-image {
      float: none;
      margin-bottom: 20px;
      text-align: center;
      display: block;
      
        }
        .display-none {
          display:none;
        }
        .mobile-tabs {
          display:block;
          width: 100%;
          margin-top: 15px;
        }
        .nav-icon {
          display:block;
          width: 100%;
        } 
        .nav-icon .fa-bars {
          float: right;
          font-size: 18px;
          background: #2c8dc7;
          padding: 7px 10px;
          border-radius: 4px;
          color: #fff;
      }
      .mobile-tabs ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      .mobile-tabs li {
        margin-right: 11px;
        text-align: right;
      }
      .mobile-tabs li  .btn {
      background:#f2f2f2;
      border-radius: 0;
      border-bottom: 2px solid #f2f2f2;
      }
      .mobile-tabs li .btn {
      background: #3c8dbc;
      border-bottom: 2px solid #3c8dbc;
      color: #fff;
      margin-bottom:10px;
      max-width: 182px;
    width: 100%;
      }
  }


  