<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Log in</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a>
        <b>Angular </b>Blog</a> 
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <input formControlName="username" class="form-control" placeholder="Username" required>
          <br>
          <input type=password formControlName="password" class="form-control" placeholder="Password" required>
          <br>


        </div>

        <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="loginForm.pristine">Login</button>
        <br>
      </form>
      <p class="text-danger">{{message}}</p>
      <div>
        <a (click)="registerCall()" class="pointer">Not a member yet? Register here</a>
      </div>
    </div>


  </div>

  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- iCheck -->
  <script src="../../plugins/iCheck/icheck.min.js"></script>

</body>

</html>