
<a class="right pointer login-btn" (click)="loginCall()">Login</a>
<div class="blog">
  <div class="container">
    <ul *ngFor="let data of allBlogs;  let i = index">
      <div class="blog-image">
        <a [routerLink]="['singlepost']" [queryParams]="{slug: data.slug}"><img src="{{data.metadata.blogImage}}" height=200px width=200px></a>
      </div>
      <a [routerLink]="['singlepost']" [queryParams]="{slug: data.slug}"><h3>{{data.title}}</h3></a>
      <p>Author: {{data.metadata.author}}</p>

      <div class="blog-content">
          <p [innerHTML]=data.metadata.description></p>  
          <a class="btn btn-success" [routerLink]="['singlepost']" [queryParams]="{slug: data.slug}">Read more...</a>
      </div>
    </ul>
  </div>
</div>
