

/*.form-control { width: 70%; }*/
div{align-content:center}

.blog .btn-success {
    border-radius: 0;
    background: #3c8dbc;
    border: 2px solid #3c8dbc;
    color: #fff;
    transition:all 0.5s;
    align-items: center
    }
    .blog .btn-success:hover {
      background:none;
      border: 2px solid #3c8dbc;
      color: #3c8dbc;
      }
      .form-back
      {
        background-color: #ddd;
        padding: 20px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.48);
    }
    .p-t-50 {
      padding-top: 50px;
  }
  .upload-padd
  {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
  }
